:root {
    /*navbar button text*/
    --default: darkblue;
    --hover: darkgray;
    --active: lightgray;
    --visited: lightgray;
    --focus: gray;
    --disabled: lightgray;
    --loading: black;
    --toggle: lightgray;

    --h1-text-color: darkblue;
    --h2-text-color: blue;
    --h3-text-color: green;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;

    width: 8.5in;
    padding: 0pc;
    margin: 0pc auto;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: aliceblue;

    /* border: 1px red solid; */
}

@media screen {
    nav {
        display: flex;
        padding: 10px 10px;
        justify-content: space-between;
        backdrop-filter: blur(30px);
        box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);

        /* border: red 1px solid; */

        .back {
            color: blue;
        }

        .pdf {
            color: green;
        }
    }
}

aside {
    float: left;
    width: auto;
    height: auto;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    margin: 0px 10px 5px 0px;

    /* border: 1px solid gray; */

    div {
        /* background-color: antiquewhite; */

        .asidelink {
            font-size: xx-large;

            /* background-color: brown; */
        }
    }
}

summary::marker {
    content: "➡️";
}

[open] summary::marker {
    content: "⬇️";
}

summary:hover {
    cursor: pointer;
    background: black;
    color: aliceblue;
}

h1 {
    color: var(--h1-text-color);
    font-size: large;
    font-weight: bold;
    margin: 0px 5px 0px 5px;

    /* border: 1px solid red; */
}

h2,
summary {
    color: var(--h2-text-color);
    font-size: medium;
    font-weight: bold;
    margin: 0px 5px 0px 5px;

    /* border: 1px solid red; */
}

h3 {
    color: black;
    font-size: medium;
    font-weight: bold;
    margin: 0px 5px 0px 5px;

    /* border: 1px solid red; */
}

p {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    margin: 0px 5px 0px 5px;

    /* border: 1px solid red; */
}

ul,
section ul {
    color: black;
    margin-top: 0px;
    text-align: justify;
    margin: 0px 5px 0px 5px;

    /* border: 1px solid red; */
}
