/* -------- FORMS ------ */

label {
	color: darkgray;
	border: red solid 2px;
}

label:hover {
	color: darkgray;
}

input {
	color: black;
	border: green solid 2px;
	background-color: blue;
}

input:hover {
	color: black;
	border: green solid 2px;
}
/* 
input:enabled{
    color: darkgray;
    border-color: darkgray;
}

input:disabled{
    color: lightgray;
}

input:target{
    color: lightgray;
}

input:invalid{
    color: lightgray;
}

input:valid{
    color: lightgray;
}

input:required{
    color: lightgray;
} */
