.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 10px 10px;

    grid-template-areas:    "item1o item1o item1o" 
                            "item2o item3o item3o" 
                            "item2o item4o item4o"
                            "item6o item5o item5o";

    justify-content: center;
}

.item {
    border: gray 1px solid;
    border-radius: 15px;

    background: linear-gradient(90deg, darkgray, lightgray);
}

/* Grid-Column | Grid-Row */

.item1 {
    grid-column: 1 / 4;
    grid-row: 1 / 1;

    align-self: stretch;
    text-align: center;
    
}

.item2 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

    align-self: normal;
    text-align: right;
    padding-right: 10px;
}

.item3 {
    grid-column: 2 / 4;
    grid-row: 2 / 2;

    align-self: end;
    text-align: left;
}

.item4 {
    grid-column: 2 / 2;
    grid-row: 3;

    align-self: center;
    text-align: left;
}

.item5 {
    grid-column: 2 / 4;
    grid-row: 4;

    align-self: start;
    text-align: left;
}

.item6 {
    grid-column: 1;
    grid-row: 4; 
}

/* Grid-Area */

.item1o {
    grid-area: item1o;

    justify-self: center;
}

.item2o {
    grid-area: item2o;

    justify-self: left;
}

.item3o {
    grid-area: item3o;

    justify-self: right;
}

.item4o {
    grid-area: item4o;

    justify-self: start;
}

.item5o {
    grid-area: item5o;

    justify-self: end;
}

.item6o {
    grid-area: item6o;

    justify-self: strech;

    /* place-self: ; */
}

