:root {
    /*navbar button |text*/
    --default: black;
    --hover: darkgray;
    --active: lightgray;
    --visited: DARKSLATEgray;
    --focus: BLACK;
    --disabled: lightslategray;
    --loading: black;
    --toggle: lightgray;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-image: url("../img/Background.jpeg");
    background-size: cover;
    min-height: calc(100vh - 3px);
}

nav {
    display: flex;
    padding: 5px 10px 5px 10px;
    justify-content: space-between;
    align-content: center;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);

    /* border: red 1px solid; */

    .menu {
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 0px 10px 0px 10px;

        /* border: orange 1px solid; */

        .material-symbols-outlined {
            border: none;
            background: none;
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
        }

        button {
            /* border: none; */
            color: var(--default);
            /* padding: 6px 8px 5px 0px; */
            /* text-align: center; */
            /* text-decoration: none; */
            /* display: inline-block; */
            /* background-color: transparent; */
            /* font-size: 15px; */
            cursor: pointer;

            /*             &:default {
                color: var(--default);
            } */
            &:hover {
                color: var(--hover);
            }
            &:active {
                color: var(--active);
            }
            &:visited {
                color: var(--visited);
            }
            &:focus {
                color: var(--focus);
            }
            &:disabled {
                color: var(--disabled);
            }
            &:loading {
                color: var(--loading);
            }
            &:toggle {
                color: var(--toggle);
            }
        }

        a {
            color: var(--default);
            text-decoration: none;
            padding: 8px 16px;
            border-bottom: transparent solid 2px;
            transition: scale 0.3s ease;
            /* border: red solid 1px; */

            /* &:default {
                color: var(--default);
                border-bottom: darkgray solid 2px;
                font-weight: bold;
                transform: scale(1);
            } */
            &:hover {
                color: var(--hover);
                border-bottom: darkgray solid 2px;
                font-weight: bold;
                transform: scale(1.2);
            }

            &:active {
                color: var(--active);
                border-bottom: lightgray solid 2px;
            }
            &:visited {
                color: var(--visited);
                border-bottom: darkgray solid 3px;
            }
            &:focus {
                color: var(--focus);
                border-bottom: gray solid 2px;
            }
            &:disabled {
                color: var(--disabled);
                border-bottom: lightgray solid 2px;
            }
            &:loading {
                color: var(--loading);
                border-bottom: black solid 2px;
            }
            &:toggle {
                color: var(--toggle);
                border-bottom: lightgray solid 2px;
            }
        }
    }
    .pulldown {
        display: flex;
        align-items: center;
        justify-content: center;

        /* border: orange 1px solid; */

        img {
            width: 32px;
            height: 32px;
            border-radius: 16px;
        }
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: MAX(1vw, 1vh);
    /* border: red 1px solid; */
}

main {
    display: flex;
    padding-left: 10px;
    height: 70vh;
    /* flex-direction: column; */
    flex: 1;
    /* justify-content: center; */
    align-items: center;

    /* border: red 1px solid; */

    .playwrite-co-400 {
        font-family: "Playwrite CO", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .image-text {
        font-size: max(8vw, 5vh);
        /* Cosmic late */
        color: #fff8e7;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        /*        background: url("./img/369062828.jpg") repeat;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        background-size: cover; */
    }
}

footer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 10px 10px;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(30px);
    width: 98.8%;

    /* border: red 1px solid; */
    div {
        display: inherit;
        gap: 24px;
        .link-name {
            font-weight: 400;
        }
        ul {
            list-style-type: none;
            /* border: orangered 1px solid; */
            li {
                a {
                    color: var(--default);
                    text-decoration: none;
                    border-bottom: transparent solid 2px;
                    transition: scale 0.3s ease;
                    /* border: red solid 1px; */
                
                    /* &:default {
                        color: var(--default);
                        border-bottom: darkgray solid 2px;
                        font-weight: bold;
                        transform: scale(1);
                    } */
                    &:hover {
                        color: var(--hover);
                        /* border-bottom: darkgray solid 2px; */
/*                         font-weight: bold;
                        transform: scale(1.2); */
                    }
                    &:active {
                        color: var(--active);
                        border-bottom: lightgray solid 2px;
                    }
                
                    &:visited {
                        color: var(--visited);
                        border-bottom: darkgray solid 3px;
                    }
                    &:focus {
                        color: var(--focus);
                        border-bottom: gray solid 2px;
                    }
                    &:disabled {
                        color: var(--disabled);
                        border-bottom: lightgray solid 2px;
                    }
                    &:loading {
                        color: var(--loading);
                        border-bottom: black solid 2px;
                    }
                    &:toggle {
                        color: var(--toggle);
                        border-bottom: lightgray solid 2px;
                    }
                }
            }
        }
    }

    .libutton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 7px;
        text-align: center;
        outline: none;
        text-decoration: none !important;
        color: #ffffff !important;
        width: 200px;
        height: 32px;
        border-radius: 16px;
        background-color: #0A66C2;
        font-family: "SF Pro Text", Helvetica, sans-serif;
}
