* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* width: 1128px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body{
    background-color: black;
    /* width: 1128px; */
    background: url('../Resources/background.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


header {
    /* From https://css.glass */
    border-radius: 15px 15px 0 0;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    background: rgba(255, 248, 231, 0.20);
    backdrop-filter: blur(15.2px);
    -webkit-backdrop-filter: blur(15.2px);
    border: 1px solid rgba(255, 248, 231, 0.20);

    justify-content: space-between;
    padding: 5px;


    text-align: left;
    /* Black coffee */
    /* color: #3B302F; */
    /* sky blue */
    color: #8ABAD3;


    font-size: 30px;

    /* Fixed position for header */
    position: fixed;
    width: 100%;
}

/* heaLeft{

} */

/* heaRight p{
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    font-size: 30px;
    height: 48px;
    width: 200px;
    
    text-justify: auto;

    text-orientation: sideways;

} */

nav {
    text-align: left;
}


.cabimg {
    width: 48px;
    height: 48px;
    border-radius: 34px;
}




main {
    /* background-color: black; */
    padding-top: 70px;

    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;

}

.glassframe {
    width: 640px;
    height: 480px;


    align-items: center;
    justify-content: center;

    

    /* From https://css.glass */
    background: rgba(255, 248, 231, 0.20);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16.5px);
    
    -webkit-backdrop-filter: blur(16.5px);
    border: 1px solid rgba(255, 248, 231, 0.20);
    margin-bottom: 5px;

    color: #8ABAD3;
    font-size: 30px;
}

.maidiv {
    flex-direction: column;
    align-items: center;
    width: auto;
}




footer {
    justify-content: space-between;
    padding: 5px;

    /* From https://css.glass */
    border-radius: 0px 0px 15px 15px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    background: rgba(255, 248, 231, 0.20);
    backdrop-filter: blur(15.2px);
    -webkit-backdrop-filter: blur(15.2px);
    border: 1px solid rgba(255, 248, 231, 0.20);

}

/* .onLeft{
    width:85px;
    align-items: center;
    justify-content: flex-start;
    
} */

.pieimg {
    width: 40px;
    height: 40px;
}



/* .onRight{
    width: 250px;
    text-align: left;
    align-content: end;
} */