* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}



/* -------- NAVBAR ------ */
.navbar {
    /* background-color: #fff; */
    /* height: 80px; */
    /* padding: 10px 10px; */
    justify-content: space-between;
    align-items: center;
    /* border: red 1px solid; */
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
}

.menu{
    display: flex;
    align-items: center;
    /* border: green 1px solid; */
    /*gap: 24px;*/
}

.menu-links{
    display: flex;
    /* border: orangered 1px solid; */
}
.menu-links a{
    font-size: 15px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
}
.menu-links a:hover{
    color: darkgray;
}
.menu-links a:active{
    color: lightgray;
}
.menu-links a:visited{
    color: darkgray;
}

.cabimg {
    width: 48px;
    height: 48px;
    border-radius: 34px;
    border: green 1px solid;
}



/* -------- BODY ------ */

body {
    background-image: url(/img/atelierpascalgontier-20240620_062055-448717170_340785439041641_3946236952711923645_n.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /* background-color: #808080; */
    flex-direction: column;
    min-height: 100vh; 
    /* width: 1128px; */
    /*background: url('../Resources/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;*/
}



header{
    justify-content: center;
    padding: 10px 0 10px 0;
    /* border: red 1px solid; */
}

main{
    flex: 1;

    justify-content:center;
    align-items:center;
    /* flex-direction: column; */
    /* background-color: black; */
    /* padding-left: 10px; */

    /*height: 100vh;*/
}

.centrado {
    height: 70vh;
    justify-content: center;
    align-items:flex-start;
    padding-left: 10px;
    flex-direction: column;
    font-size: 45px;
    /* border: red 1px solid; */
}

.image-text {
    font-size: 72px;
    font-weight: bold;
    background: url(/img/1706014858860.jpeg) repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: cover;
}



.glassframe {
    width: 80%;
    height: 480px;

    align-items: center;
    justify-content: center;
    /* From https://css.glass */
    background: rgba(255, 248, 231, 0.20);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border: 1px solid rgba(255, 248, 231, 0.20);
    margin-bottom: 5px;
    color: #8ABAD3;
    font-size: 30px;
}




/* -------- FOOTER ------ */
footer {
    position:absolute;
    /* background: #fff; */
    width: 100%;
    padding: 10px 10px;
    /* border: red 1px solid; */
    bottom: 0;
    left: 0;

    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
}

footer ul li{
    color: #000;
    list-style-type: none;
    /* border: green 1px solid; */
}




footer .content .menu-links{
    /*width: 100%;*/
    gap: 10px;

}

/*
footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #8ABAD3;
}

footer .content{
    max-width: 1250px;
    margin: auto;
    padding-top: 20px;
}

footer .content .top{
    margin-bottom: 20px;
}

.content  .top .logo-details{
    color: #e3edf8;
    font-size: 15px;
}


footer .content .link-boxes .box{

    width: 60%;
    flex-wrap: wrap;
}

.content .link-boxes{
    color: #8ABAD3;
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
}

.link-name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}
*/
