* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}



/* -------- NAVBAR ------ */
.navbar {
    /* background-color: #fff; */
    /* height: 80px; */
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    /* border: red 1px solid; */
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
}

header {
    justify-content: center;
    text-align: center;
    padding: 10px 0 10px 0;
    /* border: red 1px solid; */
}

.menu {
    display: flex;
    align-items: center;
    /* border: green 1px solid; */
    /*gap: 24px;*/
}

.menu-links {
    display: flex;
    /* border: orangered 1px solid; */
}

.menu-links a {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
}

.menu-links a:hover {
    color: darkgray;
}

.menu-links a:active {
    color: lightgray;
}

.menu-links a:visited {
    color: darkgray;
}

.cabimg {
    width: 32px;
    height: 32px;
    border-radius: 34px;
    /* border: green 1px solid; */
}



/* -------- BODY ------ */

body {
    background-image: url(/img/Background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /* background-color: #808080; */
    flex-direction: column;
    min-height: 100vh;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 400 */

.playwrite-co-400 {
  font-family: "Playwrite CO", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.image-text {
    color: #FFF8E7;
    /*Cosmic late */
     font-size: 70px;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
/*    background: url(/img/369062828.jpg) repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: cover; */
}


main {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.centrado {
    height: 70vh;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    flex-direction: column;
    /* border: red 1px solid; */
}



/* -------- FOOTER ------ */
footer {
    position: absolute;
    width: 100%;
    padding: 10px 10px;
    /* border: red 1px solid; */
    bottom: 0;
    left: 0;

    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
}

footer ul li {
    color: #000;
    list-style-type: none;
    /* border: green 1px solid; */
}

footer .content .menu-links {
    /*width: 100%;*/
    gap: 10px;

}
/* .link-name::before{
    content: '';
    position: absolute;
    left: 0;
    bo */